{% load static %}
<section class="section" id="testimonial">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<div class="title">
					<h2 class="mb-5 text-lg">Clients says</h2>
					<p class="mb-5 ">There is a spiritual aspect to our lives — when we give, we receive — when a business does something good for somebody, that somebody feels good about them!.</p>
					<a href="#contact" class="btn btn-main btn-rounded smoth-scroll">Get start<i class="fa fa-angle-right ml-2"></i></a>
				</div>
			</div>
			<div class="col-lg-7">
				<div class="main-slider ">
					<div class="testimonial-item d-flex align-items-center">
						<div class="testimonial-content ">
							<i class="ti-quote-left "></i>
							<h4 class="mb-3 text-color mt-2">Code Quality!</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis architecto vel nesciunt accusamus quidem fugiat molestiae doloribus .</p>
							<div class="info">
								<h5 class="mb-1">Khalid Farhan</h5>
								<p class="text-sm">Themeturn</p>
							</div>
						</div>
						<div class="testimonial-image">
							<img src="assets/images/test-1.jpg" alt="" class="img-fluid">
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>