{% load static %}
<section class="section" id="blog">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div class="section-title text-center">
					<h2 class="mb-4 text-lg">News Feed</h2>
					<p>"So many people in my life need prayers, and I feel like I owe that to them. After all, in heaven, we feed each other."
					-- Jill Bide</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4 col-md-6 ">
				<div class="blog-item mb-5 mb-lg-0">
					<img src="assets/images/blog1.jpg" alt="" class="img-fluid">
					<div class="content mt-4">
						<span class="timecount"><i class="ti-comments mr-3"></i>2 Comments</span>
						<h4 class="mb-3 mt-2"><a href="blog-single.html">How To Build Honest UIs And Help Users Make Better </a></h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam corrupti, suscipit minima debitis.</p>

						<a href="blog-single.html" class="read-more">Read More <i class="ti-angle-right"></i></a>
					</div>
				</div>
			</div>




		</div>
	</div>
</section>