{% load static %}
<section class="section bg-light" id="team">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div class="section-title text-center">
					<h2 class="mb-4 text-lg">Our Team</h2>
					<p>"Individual commitment to a group effort--that is what makes a team work, a company work, a society work, a civilization work." --Vince Lombardi.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="team-block mb-5 mb-lg-0">
					<img style="height:240px;" src="{%static ''%}assets/myimages/protfoloio1.jpg" alt="" class="img-fluid">
					<div class="team-content">
						<span class="mt-4 d-block">Founder</span>
						<h4 class="mb-4">Md Rana Sakar</h4>
					</div>

					<div class="overlay-content">
						<span class="mt-4 d-block">Founder</span>
						<h4 class="mb-4">Md. Rana Sarkar</h4>
						<p>I think a simple rule of business is, if you do the things that are easier first, then you can actually make a lot of progress.</p>

						<ul class="list-inline">
								<li class="list-inline-item"><a href="https://web.facebook.com/ranasarkar344"><i class="fab fa-facebook-f"></i></a></li>
						<li class="list-inline-item"><a href="https://twitter.com/RanaSar01911473"><i class="fab fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="https://www.instagram.com/easy_cse_learn/"><i class="fab fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="https://www.quora.com/profile/Rana-Sarkar-112"><i class="fab fa-quora"></i></a></li>
						
						<li class="list-inline-item"><a href="https://www.linkedin.com/in/rana-sarkar-b8b51a190/"><i class="fab fa-linkedin"></i></a></li>
						<li class="list-inline-item"><a href="https://github.com/MdRanaSarkar"><i class="fab fa-github"></i></a></li>
						<li class="list-inline-item"><a href="https://www.youtube.com/channel/UC6cHgcmq5tbldx4Dl9Rf5jg"><i class="fab fa-youtube"></i></a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="team-block mb-5 mb-lg-0">
					<img style="height:240px;" src="{%static ''%}assets/myimages/kibria.jpg" alt="" class="img-fluid">
					<div class="team-content">
						<span class="mt-4 d-block">Co.Founder</span>
						<h4 class="mb-4">Golam Kibria</h4>
					</div>

					<div class="overlay-content">
						<span class="mt-4 d-block">Co.Founder</span>
						<h4 class="mb-4">Golam Kibria</h4>
						<p>“Be who you are and say what you feel, because those who mind don't matter, and those who matter don't mind.”</p>

						<ul class="list-inline">
							<li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6">
				<div class="team-block">
					<img style="height:240px;" src="{%static ''%}assets/myimages/saju.jpg" alt="" class="img-fluid">
					<div class="team-content">
						<span class="mt-4 d-block">Co Founder</span>
						<h4 class="mb-4">Sazedur Rahman</h4>
					</div>

					<div class="overlay-content">
						<span class="mt-4 d-block">Co Founder</span>
						<h4 class="mb-4">Sazedur Rahman</h4>
						<p>Death is the king of this world: 'Tis his park where he breeds life to feed him. Cries of pain are music for his banquet.</p>

						<ul class="list-inline">
							<li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="cta">
	<div class="container">
		<div class="cta-wrap box-shadow">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-8">
					<div class="cta-content">
						<span class="text-color">All in one Solution</span>
						<h2 class="text-lg">Have any Project on mind?</h2>
					</div>
				</div>
				<div class="col-lg-3 ">
					<div class="text-lg-right mt-5 mt-lg-0">
						<a href="#contact" class="btn btn-main btn-rounded smoth-scroll">Contact me<i class="fa fa-angle-right ml-2"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>