{%load static%}


<section class="slider" id="slider">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 col-md-7 col-12">
				<div class="banner-content text-left">
				
							 <h1 style="font-size: 55px" class="cd-headline clip is-full-width mb-4 ">
							  <span class="text-colo">Me, Rana Sarkar.</span><br>
							 	I provide .....<br>
							 </h1>
							 <h1 style="font-size: 45px" class="cd-headline clip is-full-width mb-4 ">
			                    <span class="cd-words-wrapper text-color">
			                        <b class="is-visible">Design solutions. </b>
			                        <b>Creative Ideas.</b>
			                        <b>Web Developings</b>
			                        <b>Machine Learning Solution.</b>
			                        <b>Deep Learning Solution.</b>
			                        <b>Technical solutions </b>
			                        
			                    </span>
			                </h1>
		       
	          
					<p class="font-weight-normal lead mt-3 mb-4">Success is a lousy teacher. It seduces smart people into thinking they can’t lose.
					The general idea of the rich helping the poor, I think, is important.</p>
					<ul class="list-inline socials-icon mb-4">
						<li class="list-inline-item"><a href="https://web.facebook.com/ranasarkar344"><i class="fab fa-facebook-f"></i></a></li>
						<li class="list-inline-item"><a href="https://twitter.com/RanaSar01911473"><i class="fab fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="https://www.instagram.com/easy_cse_learn/"><i class="fab fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="https://www.quora.com/profile/Rana-Sarkar-112"><i class="fab fa-quora"></i></a></li>
						
						<li class="list-inline-item"><a href="https://www.linkedin.com/in/rana-sarkar-b8b51a190/"><i class="fab fa-linkedin"></i></a></li>
						<li class="list-inline-item"><a href="https://github.com/MdRanaSarkar"><i class="fab fa-github"></i></a></li>
						<li class="list-inline-item"><a href="https://www.youtube.com/channel/UC6cHgcmq5tbldx4Dl9Rf5jg"><i class="fab fa-youtube"></i></a></li>
					</ul>
					
					<a href="#about" class="btn btn-main btn-rounded smoth-scroll">Learn More <i class="fa fa-angle-right ml-2"></i></a>
				</div>
			</div>
			<div class="col-lg-5 col-md-5 col-12 intro-img">
				<img style="width:100%;height:100%" src="{% static ''%}assets/myimages/easycse.png" alt="" class="img-fluid">
			</div>
		</div>
	</div>
</section>